:root {
  --bg-color: rgba(11, 4, 2, 1);
}

html,
body,
#app {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  //background: var(--bg-color);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.bottom-bt {
  position: absolute;
  bottom: 2%;
  cursor: pointer;
  z-index: 1;
}

.bottom-bt-bounce-animation {
  animation: bottom-bt-bounce 1s ease-in-out infinite;
}

@keyframes bottom-bt-bounce {
  0% { bottom: 2% }
  50% { bottom: 2.5% }
  100% { bottom: 2% }
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.bg-circle {
  mask-image: linear-gradient(transparent, transparent, var(--bg-color));
}

.bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  object-fit: cover;
}
