:root {
  --bg-color: rgba(11, 4, 2, 1);
  --fade-duration: 2s;
  --fade-in-animation-delay: 1s;
  --front-color: rgb(255, 255, 255);
  --short-width: 800px;
  --animate-duration: .5s;
  --animate-delay: 0;
}

html,
body,
#app {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  //background: var(--bg-color);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--front-color);
  user-select: none;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.abs-max-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.bottom-bt {
  position: absolute;
  bottom: 2%;
  cursor: pointer;
  z-index: 1;
}

.bottom-bt-bounce-animation {
  animation: bottom-bt-bounce 1s ease-in-out infinite;
}

@keyframes bottom-bt-bounce {
  0% { bottom: 2% }
  50% { bottom: 2.5% }
  100% { bottom: 2% }
}

@media screen and (min-width: 1024px) {
  .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }

  .bg img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: cover;
  }
}

@media screen and (max-width: 1024px) {
  .bg {
    position: absolute;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    //overflow: visible;
    z-index: -1;
    bottom: 0;
  }

  .bg img {
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
}

.bg-circle {
  mask-image: linear-gradient(transparent, 75%, var(--bg-color));
  filter: brightness(150%);
}

.z-bg {
  z-index: -1;
}

.fade-in {
  opacity: 0;
  animation: fade-in-animation var(--fade-duration) ease-in-out forwards;
}

.fade-in-delay-1 {
  animation-delay: var(--fade-in-animation-delay);
}

.fade-out {
  opacity: 1;
  animation: fade-out-animation var(--fade-duration) ease-in-out forwards;
}

@keyframes fade-in-animation {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fade-out-animation {
  from { opacity: 1 }
  to { opacity: 0 }
}

.hidden {
  display: none;
}
