:root {
  --bg-color: rgba(11, 4, 2, 1);
  --fade-duration: 2s;
  --fade-in-animation-delay: 1s;
}

html,
body,
#app {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  //background: var(--bg-color);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.bottom-bt {
  position: absolute;
  bottom: 2%;
  cursor: pointer;
  z-index: 1;
}

.bottom-bt-bounce-animation {
  animation: bottom-bt-bounce 1s ease-in-out infinite;
}

@keyframes bottom-bt-bounce {
  0% { bottom: 2% }
  50% { bottom: 2.5% }
  100% { bottom: 2% }
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.bg-circle {
  mask-image: linear-gradient(transparent, 75%, var(--bg-color));
  filter: brightness(125%);
}

.bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  object-fit: cover;
}

.bg-fade-in {
  opacity: 0;
  animation: bg-fade-in-animation var(--fade-duration) ease-in-out forwards;
}

.bg-fade-in-delay-1 {
  animation-delay: var(--fade-in-animation-delay);
}

.bg-fade-out {
  opacity: 1;
  animation: bg-fade-out-animation var(--fade-duration) ease-in-out forwards;
}

@keyframes bg-fade-in-animation {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes bg-fade-out-animation {
  from { opacity: 1 }
  to { opacity: 0 }
}

.hidden {
  display: none;
}
